#PYTON COMPILE FILES
*.pyc

#IMAGES
Program/**/*.jpg
Program/**/*.png
Program/**/*.bmp
Program/LVCS/resources

#FONTS
*.ttf

#Buildozer
.buildozer

#Coure.fon
voure.fon

#Vim files
*.sw?

#LaTeX
*.aux
*.out
*.log
*.bbl
*.blg
*.toc
*.latexmain
*.pdf
